{% extends 'base2.html' %}
{% load static %}
{% block content %}
  <div class="container container_wrap">
    <h1>About Us</h1>
    <p>Home / About Us</p>
  </div>

  <div class="container m-4 p-4">
    <h3 class="abt-heading">Sustainable <span>Eligance</span></h3>
    <div class="card border-0 w-75 abt-content">
      <p>
        SB Dream Properties has been in the Real Estate Industry serving guests’ requirements for over 20 Years. Our headliners have deep roots in real estate power that gauge further than Two Decades and understand the value of property power. With their vast experience, they help guide and consult our agents and guests to make the right opinions during the Buy & Sale process.

        thus, our agents are able of handling deals of immense size and complexity.
        <br /><br />
      </p>
      <p>This has crowned in generations of families entrusting their real estate needs with our company. In our term, we’ve managed and answered numerous grueling and complex deals to the satisfaction of all parties involved especially that of our guests. Our knowledge and moxie is vital in helping you achieve your real estate pretensions. This has redounded in thousands of satisfied Clients.</p>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container d-flex">
      <div class="col about-image">
        <img src="{% static 'images/man.png' %}" />
      </div>

      <div class="col about-content">
        <h2>Our <span>Vision</span></h2>
        <p>The vison of Virtusa is to work relentelessly towards developing an affordable, yet world-class benchmark for townships and commercial complexes, delivering the best to our customer while lending new dimensions to the Indian housing development scene.</p>
      </div>
    </div>

    <div class="container d-flex">
      <div class="col about-content">
        <h2>Our <span>Mission</span></h2>
        <p>At VIRTUSA it is our mission to design,build & market residential and commercial complexes of international quality while assuring the highest possible level of satisfaction to our valued customers.</p>
      </div>
      <div class="col about-image">
        <img src="{% static 'images/sea.png' %}" />
      </div>
    </div>
  </div>
  <div class="container d-flex">
    <div class="col about-content">
      <h2><span>Who Are We</span></h2>
      <p>SB Dream Properties, we understand that people far and wide are searching for a home to call their own. We want to make this hunt as joyous as eventually chancing the perfect home because we understand that chancing a home is much further than an online hunt!</p>
    </div>
    <div class="col about-content">
      <h2><span>What We Do</span></h2>
      <p>We approach everything with the greatness of trust, that’s the reason why we’re ranked in the top 60 companies of stylish realtors in Hyderabad.</p>
    </div>
  </div>
  <div class="container m-4 p-4">
    <div class="card border-0 w-85 abt-content">
      <p>Sangareddy, located in the Indian state of Telangana, has seen rapid development in recent years and has become a popular residential destination. With the nearby National Investment and Manufacturing Zone (NIMZ), the city has seen an influx of industries, leading to an increased demand for residential properties. If you’re looking to invest in real estate in Sangareddy, there are several options available.</p>
      <p>One of the most popular projects for open plots in Sangareddy is the Yoshitha Housing Infra project. The project offers a range of plots in various sizes and is located in a peaceful and serene area, making it an ideal choice for those looking for a tranquil living environment.</p>
      <p>In addition to open plots, there are several gated community ventures in the area, offering a range of amenities and facilities. Some of the best gated community ventures near Sangareddy include Rainbow Vistas, Vasantha City, and Saket Bhu.</p>
      <p>SB Dream Properties is a real estate company that specializes in properties in the Sangareddy area. They offer a range of open plots and gated community ventures, including those in the Yoshitha Housing Infra project. SB Dream Properties is known for their transparent dealings, quality customer service, and commitment to delivering projects on time.</p>
      <p>If you’re interested in investing in open plots or gated community ventures in the Sangareddy area, you can contact SB Dream Properties for more information. They can provide you with details on available plots, project specifications, and other relevant information. Their contact information is available on their website, and they have a team of experienced professionals who can guide you through the process of investing in real estate in Sangareddy.</p>
    </div>
  </div>
  <br /><br /><br />
{% endblock %}
