{% extends 'base2.html' %}
{% load static %}
{% block content %}
  <div class="container container_wrap">
    <h1>NRI Corner</h1>
    <p>Home / NRI Corner</p>
  </div>
  <br /><br /><br />

  <div class="our-prjct-main">
    <div class="main-row">
      <div class="main-card">
        <div class="our-prjct-cards">
          <img src="{% static 'images/img7.jpeg' %}" alt="" height="350px" width="120%" />
          <div class="our-prjct-slider">
            <div class="our-prjct-content">
              <p>
                <span style="color: blue">CLICK</span> TO EXPLORE
              </p>
            </div>
          </div>
        </div>
        <div class="ne-wrap">
          <h3><span>VIRTUSA LIFE SPACES</span></h3>
          <p>Indus India Homes 2022 - Muscat</p>
        </div>
      </div>

      <div class="main-card">
        <div class="our-prjct-cards">
          <img src="{% static 'images/img9.jpeg' %}" alt="" height="350px" width="120%" />
          <div class="our-prjct-slider">
            <div class="our-prjct-content">
              <p>
                <span style="color: blue">CLICK</span> TO EXPLORE
              </p>
            </div>
          </div>
        </div>
        <div class="ne-wrap">
          <h3><span>VIRTUSA LIFE SPACES</span></h3>
          <p>Srinivasa Kalyanam at Abu-Dhabi</p>
        </div>
      </div>
    </div>
    
    <div class="main-row">
      <div class="main-card">
        <div class="our-prjct-cards">
          <img src="{% static 'images/img10.jpeg' %}" alt="" height="350px" width="120%" />
          <div class="our-prjct-slider">
            <div class="our-prjct-content">
              <p>
                <span style="color: blue">CLICK</span> TO EXPLORE
              </p>
            </div>
          </div>
        </div>
        <div class="ne-wrap">
          <h3><span>VIRTUSA LIFE SPACES</span></h3>
          <p>Wave Event Dubai 2017</p>
        </div>
      </div>

      <div class="main-card">
        <div class="our-prjct-cards">
          <img src="{% static 'images/img4.jpeg' %}" alt="" height="350px" width="120%" />
          <div class="our-prjct-slider">
            <div class="our-prjct-content">
              <p>
                <span style="color: blue">CLICK</span> TO EXPLORE
              </p>
            </div>
          </div>
        </div>
        <div class="ne-wrap">
          <h3><span>VIRTUSA LIFE SPACES</span></h3>
          <p>Dubai Property Expo 2017</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
