{% extends 'base2.html' %}
{% load static %}
{% block content %}
  {% comment %} <div class="top-card">
    <img src="{% static 'images/bg.jpg' %}" class="logo-img" />
  </div> {% endcomment %}

  <div class="container container_wrap">
    <h1>Our Projects</h1>
    <p>Home / Our Projects</p>
  </div>

  <div class="text-container">
    <p>"It takes hands to build a home but, We build it with heart to craft you a dream home"</p>
  </div>

  <div class="buttons_wrap">
    <button type="button" class="loc-btn hover_left">HYDERABAD</button>
    <button type="button" class="loc-btn hover_right">NELLORE</button>
  </div>

  <br /><br /><br />
  <div class="container-fluid row d-flex" style="padding-left: 90px;">
    <div class="col">
      <img src="{% static 'images/apartment.jpg' %}" width="330px" height="500px" />
    </div>
    <div class="col" style="width: 650px;">
      <h6>Yoshitha Housing and infra Pvt Ltd Mumbai Highway for real estate investments ?</h6>

      <p>Mumbai Highway is the most happening place for the investors in real estate ventures across the country and also for NRI clients. This highway produced best growth and stunning returns who invested in this area. Due to promising appreciation for investors all over the globe, Mumbai Highway stands first to invest in APPROVED layouts in and around Sangareddy. SADASHIVPET (FIRST MUNCIPALITY in combined Andhrapradesh with population of one lakh), and upto zaherabad. Many established companies like IIT KANDI, MRF, PENNAR STEELS, WOXSEN BUSSINESS UNIVERSITY and very big NIMZ( NATIONAL INVESTMENT MANUFACTURING ZONE) (13000 Acres) are encouraging investors to put their investments in Mumbai highway without second thought.</p>
    </div>
    <div class="col">
      <img src="{% static 'images/Apr.png' %}" width="330px" height="500px" />
    </div>
  </div>
  <div class="container m-4 p-4">
    <div class="card border-0 w-90 abt-content">
      <p class="fs-6 pe-1">SADASHIVPET (FIRST MUNCIPALITY in combined Andhrapradesh with population of one lakh), and upto zaherabad. Many established companies like IIT KANDI, MRF, PENNAR STEELS, WOXSEN BUSSINESS UNIVERSITY and very big NIMZ( NATIONAL INVESTMENT MANUFACTURING ZONE) (13000 Acres) are encouraging investors to put their investments in Mumbai highway without second thought. Very close to Hyderabad city and good connectivity with all other parts of INDIA, one definitely should choose this Mumbai Highway as their first choice for their investments in real estate in Government APPROVED layouts.</p>
    </div>
  </div>

  <div class="container bg-light my-5 align-items-center">
    <div class="container d-flex">
      <div class="col">
        <img src="{% static 'images/yoshitha1.jpg' %}" style="padding-left: 100px;" />
      </div>

      <div class="col" style=" line-height: 2; color: #666;">
        <p class="fs-6">SB Dream properties brought a wonderful Gated community ventures on Mumbai highway. Residents generally consider townships as more secure due to the high safety provided by these credible and trusted gated groups. This is especially true for senior citizens who are compelled to restrict venturing out on bustling streets for running errands, leisure, recreation, or remedy.</p>
        <p class="fs-6">These townships provide a safe and secure environment for them to live and move around in. As these communities generally provide an excellent lifestyle, key real estate developers have pioneered the growth of gated communities, understanding the requirements of the inhabitants of the city. Gated communities are distinguished by a stringent security system that includes closely monitored entrances, CCTV cameras, and intercoms to keep a beady eye on every individual entering and exiting the community.</p>
        <p class="fs-6">In addition to that, security personnel are stationed around the community to ensure congruous record-keeping of all visitors. To be the first choice for our consumers and partners in their journey of discovering, renting, buying, selling and financing a home. We do that with data, design, technology, and above all the passion of our people, while delivering value to our shareholders. Residents are alleviated of the burden of theft and vandalism as their families are safe and sound.</p>
      </div>
    </div>
    <br /><br />
    <hr />
    <br /><br />
    <div class="container d-flex">
      <div class="col about-image">
        <img src="{% static 'images/yoshitha1.jpg' %}" style="padding-left: 100px; height: 500px;" />
      </div>

      <div class="col" style=" line-height: 2; color: #666;">
        <p class="fs-6">SB Dream Properties deals with every aspect of the consumers’ needs in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can exchange information about real estate properties quickly, effectively and inexpensively. Mumbai Highway is the most happening place for the investors in real estate ventures across the country and also for NRI clients.</p>
        <p class="fs-6">This highway produced best growth and stunning returns who invested in this area. The main criteria of SB Dream Properties is to contribute growth and progress in the field of Real Estate assiduity, by creating a newer, better & meaningful world. Yoshitha housing and infra private limited is involved in real estate activities. this includes buying, selling, renting and developing land, building or Appartments.</p>
        <p class="fs-6">Yoshitha emerged as the fastest developing real estate company in both Telangana and Vijayawada. As Hyderabad is rapidly developing and investing in some of the top areas like Sadashivpet is really good. SB dream properties is also involved in real estate. They help in guiding clients to make the right decisions. Managing director of SB dream properties is Someswara Rao. Yoshitha housing and infra pvt ltd came with a real estate investment in Mumbai highway. Right now SB Dream Properties and Yoshitha housing and infra pvt ltd are on so many projects like Yoshitha Housing infra Pvt Ltd.</p>
      </div>
    </div>
    <br /><br />
    <hr />
    <br /><br />
    <div class="container d-flex">
      <div class="col about-image">
        <img src="{% static 'images/yoshitha1.jpg' %}" style="padding-left: 100px; height: 400px;" />
      </div>

      <div class="col" style=" line-height: 2; color: #666;">
        <p class="fs-6">Yoshitha Housing and infra Pvt Ltd, Mumbai highway ventures, Mumbai highway Gated community ventures, NIMZ Near by Ventures, Sb dream properties, Yoshitha STELLAR ESTATE, Yoshitha ventures. Mumbai highway is the most happening place for investors in real estate ventures across the country and also for NRI clients.</p>
        <p class="fs-6">This highway produced stunning returns who invested in this area. All our dealings are conducted with complete honesty and transparency, with the understanding that customer satisfaction is the ultimate goal, and that our work is only the first but crucial step in creating a house that will become a home.</p>
        <p class="fs-6">Delivering trustworthy experiences that you cherish for a lifetime</p>
      </div>
    </div>
  </div>

  <br /><br /><br /><br />

  <div class="our-prjct-main bg-light mt-5">
    <div class="main-row">
      <div class="main-card">
        <a href="{% url 'ourprojectVenchar' %}">
          <div class="our-prjct-cards">
            <img src="{% static 'images/img1.jpeg' %}" alt="" height="350px" width="120%" />
            <div class="our-prjct-slider">
              <div class="our-prjct-content">
                <p>
                  <span style="color: skyblue; font-weight: bold;">CLICK</span> TO EXPLORE
                </p>
              </div>
            </div>
          </div>
          <div class="blog_data shadow">
            <h3 class="blog_description text-center" style="margin: 50px;">Supreme Zone- Triton</h3>
          </div>
        </a>
      </div>

      <div class="main-card">
        <a href="{% url 'ourprojectVenchar' %}">
          <div class="our-prjct-cards">
            <img src="{% static 'images/img2.jpeg' %}" alt="" height="350px" width="120%" />
            <div class="our-prjct-slider">
              <div class="our-prjct-content">
                <p>
                  <span style="color:skyblue; font-weight: bold;">CLICK</span> TO EXPLORE
                </p>
              </div>
            </div>
          </div>
          <div class="blog_data shadow">
            {% comment %} <img src="{% static 'images/logo2.jpg' %}" alt="" /> {% endcomment %}

            <h3 class="blog_description text-center" style="margin: 50px;">Stellar Estate- Lorna Greens</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

  {% comment %} <div class="our-prjct-main">
    {% endcomment %}
    <div class="main-row">
      <div class="main-card">
        <a href="{% url 'ourprojectVenchar' %}">
          <div class="our-prjct-cards">
            <img src="{% static 'images/img3.jpeg' %}" alt="" height="350px" width="120%" />
            <div class="our-prjct-slider">
              <div class="our-prjct-content">
                <p>
                  <span style="color:skyblue; font-weight: bold;">CLICK</span> TO EXPLORE
                </p>
              </div>
            </div>
          </div>
          <div class="blog_data shadow">
            {% comment %} <img src="{% static 'images/logo3.jpg' %}" alt="" style="width: 200px;" /> {% endcomment %}
            <h3 class="blog_description text-center" style="margin: 50px;">Eminent Empire- Triton</h3>
          </div>
        </a>
      </div>

      <div class="main-card">
        <a href="{% url 'ourprojectVenchar' %}">
          <div class="our-prjct-cards">
            <img src="{% static 'images/img4.jpeg' %}" alt="" height="350px" width="120%" />
            <div class="our-prjct-slider">
              <div class="our-prjct-content">
                <p>
                  <span style="color: skyblue; font-weight: bold;">CLICK</span> TO EXPLORE
                </p>
              </div>
            </div>
          </div>
          <div class="blog_data shadow">
            {% comment %} <img src="{% static 'images/logo4.jpg' %}" alt="" /> {% endcomment %}

            <h3 class="blog_description text-center" style="margin: 50px;">Luminous Serenity- Lorna Greens</h3>
          </div>
        </a>
      </div>
    </div>
    {% comment %}
  </div> {% endcomment %}

  {% comment %} <div class="our-prjct-main">
    {% endcomment %}
    <div class="main-row">
      <div class="main-card">
        <a href="{% url 'ourprojectVenchar' %}">
          <div class="our-prjct-cards">
            <img src="{% static 'images/img5.jpeg' %}" alt="" height="350px" width="120%" />
            <div class="our-prjct-slider">
              <div class="our-prjct-content">
                <p>
                  <span style="color: skyblue; font-weight: bold;">CLICK</span> TO EXPLORE
                </p>
              </div>
            </div>
          </div>
          <div class="blog_data shadow">
            <h3 class="blog_description text-center" style="margin: 50px;">Celebrity Hill View - Triton</h3>
          </div>
        </a>
      </div>

      <div class="main-card">
        <a href="{% url 'ourprojectVenchar' %}">
          <div class="our-prjct-cards">
            <img src="{% static 'images/img6.jpeg' %}" alt="" height="350px" width="120%" />
            <div class="our-prjct-slider">
              <div class="our-prjct-content">
                <p>
                  <span style="color: skyblue; font-weight: bold;">CLICK</span> TO EXPLORE
                </p>
              </div>
            </div>
          </div>
          <div class="blog_data shadow">
            {% comment %} <img src="{% static 'images/logo6.png' %}" alt="" /> {% endcomment %}

            <h3 class="blog_description">Virtusa LifeSpace- Lorna Greens</h3>
          </div>
        </a>
      </div>
    </div>
    {% comment %}
  </div> {% endcomment %}

  {% comment %} <div class="our-prjct-main">
    {% endcomment %}
    <div class="main-row">
      <div class="main-card">
        <a href="{% url 'ourprojectVenchar' %}">
          <div class="our-prjct-cards">
            <img src="{% static 'images/img5.jpeg' %}" alt="" height="350px" width="120%" />
            <div class="our-prjct-slider">
              <div class="our-prjct-content">
                <p>
                  <span style="color: skyblue; font-weight: bold;">CLICK</span> TO EXPLORE
                </p>
              </div>
            </div>
          </div>
          <div class="blog_data shadow">
            {% comment %} <img src="{% static 'images/logo7.jpg' %}" alt="" style="width: 200px;height: 80px;" /> {% endcomment %}
            <h3 class="blog_description">Virtusa Lifespaces- Triton</h3>
            <p>
              <i class="fa-solid fa-location-dot" style="color: blue;"></i>sadashivpet
            </p>
          </div>
        </a>
      </div>

      <div class="main-card">
        <a href="{% url 'ourprojectVenchar' %}">
          <div class="our-prjct-cards">
            <img src="{% static 'images/img6.jpeg' %}" alt="" height="350px" width="120%" />
            <div class="our-prjct-slider">
              <div class="our-prjct-content">
                <p>
                  <span style="color: skyblue; font-weight: bold;">CLICK</span> TO EXPLORE
                </p>
              </div>
            </div>
          </div>
          <div class="blog_data shadow">
            {% comment %} <img src="{% static 'images/logo8.png' %}" alt="" /> {% endcomment %}

            <h3 class="blog_description">Virtusa LifeSpace- Lorna Greens</h3>
            <p>
              <i class="fa-solid fa-location-dot" style="color: blue;"></i>sadashivpet
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
